.player {
  background-color: lightblue;
  width: 300px;
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
  img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
  }
  span {
    margin-left: 24px;
    font-size: 24px;
  }
}

.player-active {
  background-color: lightgreen !important;
}
